{% macro sortable(col_key, label) %}
    {% set current_sort = request.args.get('sort', '') %}
    {% set current_order = request.args.get('order', 'asc') %}

    {# 判断要显示的图标 + 下一次点击的顺序 #}
    {% if current_sort == col_key %}
        {% set new_order = 'desc' if current_order == 'asc' else 'asc' %}
        {% set arrow = '▲' if current_order == 'asc' else '▼' %}
    {% else %}
        {% set new_order = 'asc' %}
        {% set arrow = '' %}
    {% endif %}

    <a href="?sort={{ col_key }}&order={{ new_order }}{{ '&' if request.query_string else '' }}{{ request.query_string.decode('utf-8').replace('sort=' ~ current_sort, '').replace('order=' ~ current_order, '') }}"
       class="text-decoration-none text-dark fw-bold">
       {{ label }} <span>{{ arrow }}</span>
    </a>
{% endmacro %}